.CardItem {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.404);
  display: flex;
  flex-direction: column;
}

picture {
  width: 350px;
  height: 350px;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ItemFooter {
  display: flex;
  justify-content: center;
}

.ButtonDetail {
  width: auto;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.404);
}
