.ContainerItem {
  width: 90%;
  height: 350px;
  margin: 15px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .imgCart {
  width: 100px;
  height: 350px;
} */

.Title {
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.ContainerItem img {
  width: 250px;
  height: 250px;
}
